.container-ofertas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding-top: 3rem;
}

.container-ofertas div {
    text-align: center;
}

.ofertas {
    padding: 2.5rem 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
	gap: 50px;

    flex-wrap: wrap;
}

.oferta {
    background-color: var(--brancoColor);
    display: flex;
    align-items: center;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 20%);

    /* width: 400px; */
}

.oferta figure {
    height: 200px;
    width: 200px;
}

.oferta figure img {
    height: 100%;
    width: 100%;
}

.oferta-detalhes h3 {
    font-size: 32px;
    line-height: 36.86px;
    text-align: left;
}

.oferta-detalhes p {
    font-size: 16px;
    line-height: 19.5px;
    text-align: left;
}

.oferta-detalhes div {
    padding: 0 2rem 0 0;
}

.btn-comprar {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    box-shadow: none;
    color: var(--amarelo); 
    padding: 2rem 0;
    border: 0;
    cursor: pointer;
}

.container-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtro {
    width: 50px;
    cursor: pointer;
    background-color: var(--brancoColor);
    border: 1px solid #bbb;
    border-radius: 4px;
    transition: all .5s;
}

.filtro:hover {
    background-color: var(--brancoBg);
}

.filtros {
    width: 300px;
    background: var(--brancoBg);
    padding: 0.55rem;
    display: flex;
    justify-content: center;
    gap: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 20%);
    transition: all .5s;
    font-family: var(--fontFamilyMenu);
}

@media(max-width: 700px) {
    .container-ofertas {
        padding: 3rem;
    }
    .ofertas {
        flex-direction: column;
        padding-top: 1rem;
    }
}