.container-minhaPlanta {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 55rem;
    margin: auto;
    border-radius: 4px;
    box-shadow: 22px 38px 20px rgb(0 0 0 / 3%);

    flex-wrap: wrap;
}    

.container-minhaPlanta figure {
    height: 250px;
    flex: .5;
}

.container-minhaPlanta figure img {
    width: 100%;
    height: 100%;
}

.opcoes-minhasPlantas {
    padding: .5rem 1rem;
    flex: .5;
}

.opcoes-minhasPlantas div h3 {
    font-size: 42px;
    line-height: 48.38px;
}

.opcoes-minhasPlantas .opcoes-acoes ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: var(--fontFamilyMenu);
    align-items: flex-start;
}

.opcoes-minhasPlantas .opcoes-acoes ul li {
    opacity: 0.7;
}

.opcoes-minhasPlantas .opcoes-acoes ul div {
    display: flex;
    align-items: center ;
}

.opcoes-minhasPlantas .opcoes-acoes ul div span {
    display: inline-block;
    height: 25px;
    padding: .8rem;
    border-radius: 50%;
    background: var(--amarelo);
    margin-right: .6rem;
}

@media(max-width: 1000px) {
    .container-minhaPlanta figure {
        display: none;
    }
    .container-minhaPlanta {
        display: initial;
        text-align: center;
    }

    .opcoes-acoes {
        display: flex;
        justify-content: center;
    }
}